body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

.uhd-blue {
  color: #002D72;
}

.bg-uhd-blue {
  background-color: #002D72 !important;
  color: white !important;
  border: none !important;
}

.bg-uhd-blue:hover {
  background-color: #001F4D !important;
  color: white !important;
}

.uhd-red {
  color: #E4002B;
}

.bg-uhd-red {
  background-color: #E4002B !important;
  color: white;
}

.bg-uhd-red:hover {
  background-color: #B30022 !important;
}
  
.card img {
  height: 250px;
  object-fit: cover;
}

.navbar-nav .nav-link.active {
  color: #E4002B !important;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #E4002B !important;
}
